<% provide(:title, @product.name) %>

<div class="main-wrapper">
  <%= render 'layouts/light_section', name: @product.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @product.images.each_with_index do |product_image, number| %>
                    <div class="item <%= 'active' if number.zero? %>" data-thumb="<%= number %>">
                      <%= image_tag product_image.attachment(:large) %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% @product.images.each_with_index do |product_image, number| %>
                      <div data-target="#carousel" data-slide-to="<%= number %>" class="thumb">
                        <%= image_tag product_image.attachment(:small)%>
                      </div>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <ul class="list-inline">
                <li><i class="fa fa-reply" aria-hidden="true"></i><%=link_to "一覧ページへ戻る",potepan_category_path(@taxon.id)%></li>
              </ul>
              <h2><%= @product.name %></h2>
              <h3><%= @product.display_price %></h3>
              <p><%= @product.description%></p>
              <%= render 'cart' %>
            </div>
          </div>
        </div>
      </div>
      <%= render 'related_item', products: @products %>
    </div>
  </section>
</div>
